{% extends "layout.html" %}

{% block content %}

  <main class="px-3">
    <h1>Data science student</h1>
    <p class="lead">Studying:</p>
      <div class="container-fluid">
          <div class="row justify-content-center">
             <div class="col-auto col-md-10">
                 <ul class="list-unstyled">
                     <li>Statistical modelling and numerical analysis in Python and R,</li>
                     <li>Communication theory,</li>
                     <li>Data visualisation</li>
                    
                 </ul>
              </div>
          </div>
      </div>
      <p>
      </p>
    <p class="lead">
      <a href="mailto:webcontact@kiddle.io" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Contact</a>
    </p>
  </main>

{% endblock content %}
