{% extends "layout.html" %}

{% block content %}
  <main class="px-3">
    <h1>Projects</h1>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <h3>Kiddle.io</h3>
          <p>This site is run from a Python server using the Flask library.</p>
          <p>The live code is available at <a href="https://github.com/Kiddle-IO/kiddle-py">Github</a></p>
        </div>
        <div class="col-sm">
          One of three columns
        </div>
        <div class="col-sm">
          One of three columns
        </div>
      </div>
    </div>
  </main>

{% endblock content %}